@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    font-family: Kanit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
}

.images {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(42, 163, 58);
    padding: 3px;
}

.images .profile-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-btn {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-btn .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    color: white;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: rgba(59, 62, 245, 0.753);
    text-decoration: none;
    margin: 0 6px;
}

.profile-card .btn {
    display: flex;
    align-items: center;
    margin: 25px;
}

.btn .button {
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: red;
    border: none;
    border-radius: 0.5em;
    margin: 0 10px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3ms ease;
}

.btn .button:hover {
    background-color: rgb(211, 76, 43);
    /*i like fastest!!!*/
}

.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.analytics {
    display: flex;
    align-items: center;
    color: rgb(49, 49, 49);
    padding: 0 20px;
    /* border-right: 2px solid #e7e7e7; */
}

.analytics i {
    font-size: 18px;
    margin-right: 50px;
}